@font-face {
    font-family: 'stefanie';
    src: url('http://nightjar.exeter.ac.uk/where-is-that-nightjar/fonts/StefanieDots.ttf');
}

@font-face {
    font-family: 'gnuolane';
    src: url('http://nightjar.exeter.ac.uk/where-is-that-nightjar/fonts/gnuolane.ttf');
}

html, body {
    font-family: 'gnuolane';
    color: #fff;
    font-size:  20;
    background: #000;
   // cursor: url(images/mouse.png), default;
}

#canvas {
    width: auto;
    height: 100%;
    background: url(http://nightjar.exeter.ac.uk/where-is-that-nightjar/images/bg.png);
}
