@font-face {
    font-family: 'stefanie';
    src: url('/fonts/StefanieDots.ttf');
}

@font-face {
    font-family: 'gnuolane';
    src: url('/fonts/gnuolane.ttf');
}

html, body {
    font-family: 'gnuolane';
    color: #fff;
    font-size:  20;
    background: #000;
    //cursor: url(/images/mouse.png), default;
}

#canvas {
    width: auto;
    height: 98%;
    background: url(/images/bg.png);
}
